absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.11.1
altgraph==0.17.3
annotated-types==0.6.0
anyio==4.3.0
argcomplete==2.0.0
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
asyncio==3.4.3
attrs==22.2.0
audioread==3.0.0
Authlib==1.2.0
auto-py-to-exe==2.26.1
autoscraper==1.1.14
bcrypt==4.0.1
beautifulsoup4==4.12.3
blinker==1.7.0
boto3==1.26.148
botocore==1.29.148
bottle==0.12.23
bottle-websocket==0.2.9
bs4==0.0.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
chromedriver-binary==110.0.5481.77.0
click==8.1.3
colorama==0.4.6
colorlog==6.7.0
colormap==1.0.4
colorthief==0.2.1
colorutils==0.3.0
commonmark==0.9.1
contourpy==1.0.7
coverage==5.5
cryptography==39.0.1
cs50==9.2.4
customtkinter==5.0.3
cx-Freeze==6.13.1
cycler==0.11.0
darkdetect==0.8.0
dataclasses-json==0.6.4
decorator==4.4.2
deepgram-sdk==2.11.0
deprecation==2.1.0
distlib==0.3.6
distro==1.9.0
dnspython==2.3.0
docopt==0.6.2
docx==0.2.4
dominate==2.8.0
easydev==0.12.0
Eel==0.14.0
email-validator==2.0.0.post2
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==2.0.1
eyed3==0.9.7
filelock==3.9.0
filetype==1.2.0
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
flatbuffers==24.3.25
fonttools==4.38.0
frozenlist==1.4.0
fsspec==2024.3.1
future==0.18.3
gast==0.5.4
geographiclib==2.0
geopy==2.3.0
gevent==22.10.2
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.62.1
gunicorn==20.1.0
h11==0.14.0
h5py==3.10.0
hmmlearn==0.3.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.1
idna==3.4
imageio==2.31.5
imageio-ffmpeg==0.4.9
imbalanced-learn==0.11.0
imblearn==0.0
iniconfig==2.0.0
install==1.3.5
ipython==8.22.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jose==1.0.0
jsonpatch==1.33
jsonpointer==2.4
jwt==1.3.1
keras==3.1.1
keyboard==0.13.5
kiwisolver==1.4.4
langchain==0.1.14
langchain-community==0.0.30
langchain-core==0.1.37
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.38
lazy_loader==0.3
libclang==18.1.1
librosa==0.10.1
lief==0.12.3
llvmlite==0.40.1
lxml==4.9.3
Mako==1.2.4
Markdown==3.6
MarkupSafe==2.1.1
marshmallow==3.21.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mistune==3.0.2
ml-dtypes==0.3.2
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==1.0.0
mysql-connector-python==8.0.33
namex==0.0.7
networkx==3.2.1
nox==2022.11.21
Nuitka==1.3.7
numba==0.57.1
numpy==1.26.4
nvidia-cuda-runtime-cu12==12.4.99
openai==1.14.3
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.0
outcome==1.2.0
packaging==23.2
parso==0.8.3
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
paypalrestsdk==1.13.1
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
pefile==2022.5.30
pexpect==4.8.0
Pillow==9.3.0
pipreqs==0.4.11
platformdirs==2.6.2
plotly==5.16.1
pluggy==1.0.0
pooch==1.7.0
poppler-utils==0.1.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==4.25.3
psycopg2==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyAudioAnalysis==0.3.14
PyAutoGUI==0.9.53
pycallgraph2==1.1.3
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.14.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyMsgBox==1.0.9
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.26.0
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
pytest==7.2.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.1
python-pptx==0.6.22
PyTMX==3.31
pytweening==1.0.4
pytz==2022.7.1
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0.1
regex==2023.12.25
render-cli==0.2.0
requests==2.31.0
rich==12.6.0
s3transfer==0.6.1
safetensors==0.4.2
scikit-learn==1.2.1
scipy==1.10.0
selenium==4.8.0
selenium-recaptcha-solver==1.2.0
sentence-transformers==2.6.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.6
spark-parser==1.8.9
SpeechRecognition==3.9.0
SQLAlchemy==2.0.29
sqlparse==0.4.3
stack-data==0.6.3
sympy==1.12
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorrt==10.0.0b6
tensorrt-cu12==10.0.0b6
tensorrt-cu12_bindings==10.0.0b6
tensorrt-cu12_libs==10.0.0b6
termcolor==2.2.0
threadpoolctl==3.1.0
tiktoken==0.6.0
tk==0.1.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
torch==2.2.1
tqdm==4.64.1
traitlets==5.14.2
transformers==4.39.1
trio==0.22.0
trio-websocket==0.9.2
typing-inspect==0.9.0
typing_extensions==4.10.0
uncompyle6==3.9.0
undetected-chromedriver==3.4.5
urllib3==1.26.14
virtualenv==20.17.1
visitor==0.1.3
wcwidth==0.2.13
webcolors==1.12
webdriver-manager==3.8.5
webrtcvad==2.0.10
websockets==10.4
Werkzeug==3.0.1
whichcraft==0.6.1
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.0.1
xdis==6.0.5
XlsxWriter==3.1.4
yarg==0.1.9
yarl==1.9.2
zope.event==4.6
zope.interface==5.5.2
